<h1>Your Cart</h1>
<% @cart.orderables.each do |orderable|%>
	<% product = orderable.product%>
	<p>
		<%= product.name%> * <%= orderable.quantity%> = RM <%= product.price * orderable.quantity %>
	</p>
<%end%>
<p>Your cart total is RM <%= @cart.total%></p>

<%= button_to "Checkout"%>